
<%- include('header'); -%>
   <div class="box" id="heading">
      <h1><%= listTitel %></h1>
    </div>
    <div class="box">
      <% newlistItem.forEach(item => {%>
        <form  action="/delete" method="post">
          <div class="item">
            <input type="checkbox" name="checbox" value="<%= item._id %>" onchange="this.form.submit()" />
            <p><%= item.name %></p>
            <input type="hidden" name="listName" value="<%= listTitel %>" />

          </div>
        </form>
      <%   }); %>
      
      <form class="item" action="/" method="post">
        <input
          type="text"
          name="newitem"
          placeholder="New item"
          autocomplete="off"
        />
        <button type="submit" name="list" value= <%= listTitel %> >+</button>
      </form>
    </div>
    <%- include('footer'); -%>